@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    margin:0;
    background-color:#333;
}

a {
    color: #d9d9d9;
}

a:hover {
    color: #929292;
}

b {
    color: #b3b3b3;
}

ul li .p2 {
    margin-left:20px;
}

.graybar {
    width:100%;
    background-color: #121212;
    color:#929292;
}

.center950px {
    position: relative;
    min-width: 950px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.fastblog {
    padding-top: 50px;
    width:200px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size:40px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}

.footer {
    margin: auto;
    vertical-align: middle;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
}

.horizontal-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:100%;
    overflow: hidden;
    background-color: #121212;
    z-index: 2;
    font-family: 'Open Sans', sans-serif;
}

.horizontal-menu li {
    float: left;
    color: #929292;
}

.horizontal-menu li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.horizontal-menu li a:hover:not(.active) {
    background-color: #333;
    color: #fff;
}

.horizontal-menu .active {
    background-color: #333;
    color: #fff;
}

.horizontal-menu .icon {
    margin-right: 5px;
}

.article {
    color:#fff;
    font-family: 'Open Sans', sans-serif;
}

.article .title {
    margin-top: 40px;
    padding:5px 0 5px;
    font-size:30px;
}

.article .content {
    padding-top: 40px;
    font-size: 20px;
}

.article .comments {
    padding-top: 40px;
    font-size: 20px;
}

.article .preview {
    padding-top: 40px;
    margin: auto;
    text-align: center;
}

.cont-50 {
    width: calc(46% - 20px);
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    left:0;
    padding:10px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
}

.cont-50 .header {
    font-size: 25px;
    line-height: 25px;
    border: solid 3px;
    background-color: #121212;
    border-color: #929292;
    color: #fff;
    padding:10px;
    -webkit-box-shadow: 0px 0px 43px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 43px 4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 43px 4px rgba(0,0,0,0.75);
    margin-top: 40px;
}

.cont-50 .content {
    background-color: #121212;
    padding:15px;
    color: #929292;
    margin-bottom: 40px;
}

.error {
    min-height: 400px;
    height: calc(100% - 218px);
    width: 100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #121212;
}

.error .code {
    font-size: 3.5vw;
    line-height: 60px;
    padding-top: 80px;
}

.error .description {
    font-size: 2.5vw;
    line-height: 30px;
}

pre {
    border-left: 5px solid #929292;
    color: #929292;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}
